@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form id="simpleInputForm">
        @Html.LabelFor(m => m.DivisibleByTwo, "Enter an intiger that is divisible by 2.", new {@class = "h2" })
        <br>
        @Html.TextAreaFor(m => m.DivisibleByTwo)
        <br>
        <button id="simpleInputFormButtonPost">Check</button>
    </form>
</div>